click          # clean CLI library
jsonrpcserver  # JSON-RPC server
parsimonious   # language parsing (PEG)
pycairo        # SVG
pyyaml         # YAML format support
requests       # HTTP for humans
rich           # terminal colors
scikit-learn   # symbol model training and recognition
toml           # TOML format support
